@media (min-width: 320px) {
    
    .header {
        background-image: url("../images/header_bkg.png");
        background-size: cover;
        background-position: center;
        overflow-x: hidden;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;

        &__title {
            font-family: $main-font;
            font-weight: 700;
            font-size: 2.2rem;
            text-align: center;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        &__subtitle {
            font-family: $main-font;
            font-weight: 400;
            font-size: 0.7rem;  
            text-align: center;
            letter-spacing: 0.42rem;
        }

        &__form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        &__form--input {
            width: 90%;
            height: 3rem;
            margin-top: 2rem;
            font-family: $main-font;
            font-weight: 400;
            font-size: 0.6rem;
            text-align: center;
            letter-spacing: 0.175rem;
            color: #999999;
        }
    
        &__form--btn {
            width: 7rem;
            height: 3.5rem;
            margin-top: 0.5rem;
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 0.7rem;
            text-align: center;
            letter-spacing: 0.09rem;
            text-transform: uppercase;
            background-color: #5474FD;
            border: solid 2px #ffffff;
        }

        &__scroll {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0;
        }
    
        &__scroll--text {
            font-family: $main-font;
            font-weight: 400;
            font-size: 0.8rem;
            text-align: center;
            letter-spacing: 0.175rem;
        }
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40%;
        height: 5rem;
        width: 100%;
        background-color: #5474FD;
        overflow: hidden;

        &__logo {
            font-family: $main-font;
            font-weight: 700;
            font-size: 1rem;
            letter-spacing: 0.15rem;
            text-transform: uppercase;
        }

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
        }

        &__list--item > a {
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.625rem;
            text-transform: uppercase;
            display: none;
        }
    }

    a {
        text-decoration: none;
        color: #FFFFFF;
    }

    a:hover {
        color: #aaa9a9;
        transition: ease-in-out 0.2s;
    }
}

@media (min-width: 640px) {

    .header {
        gap: 2rem;

        &__title {
            font-size: 3rem;
            letter-spacing: 0.4rem;
        }

        &__subtitle {
            font-size: 1.375rem;  
        }

        &__form {
            flex-direction: row;
        }
        
        &__form--input {
            width: 20rem;
            height: 3.9rem;
            margin-top: 3rem;
            font-size: 0.875rem;
        }
        
        &__form--btn {
            width: 9rem;
            height: 4.1rem;
            margin-top: 3rem;
            font-size: 0.875rem;
        }
    }

    .nav {

        &__logo {
            font-family: $main-font;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.625rem;
            letter-spacing: 0.15rem;
            text-transform: uppercase;
            display: none;
        }

        &__list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style: none;
            gap: 30px;
        }

        &__list--item > a {
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 1rem;
            text-transform: uppercase;
            display: contents;
        }

        &__list--icon {
            visibility: hidden;
        }
    }
}

@media (min-width: 920px) {

    .nav {
        width: 100%;
        justify-content: center;
        gap: 10%;
        
        &__logo {
            display: contents;
        }

        &__list {
            gap: 2rem;
        }
    }
}