.section-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../images/section-one_bkg.png");
    background-size: cover;
    height: 100vh;
    gap: 5%;

    &_left {
        width: 560px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;
    }

    &_title {
        font-family: 'Aleo';
        font-weight: 400;
        font-size: 36px;
        line-height: 26px;  
    }

    &_btn {
        width: 228px;
        height: 63px;
        background-color: #5473fda7;
        border: none;
        font-family: 'Aleo';
        font-size: 16px;
        line-height: 26px;  
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 30px;
    }

    &_right {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 440px;
    }

    &_right img {
        width: 350px;
    }

    &_right--top {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    &_right--bottom {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.banner {
    height: 340px;
    width: 100%;
    background-color: #333333;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    &_top {
        width: 650px;
    }

    &_bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 900px;
    }

    &_bottom--item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

.section-two {
    background-image: url(../images/section-two_bkg.png);
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_container {
        width: 70%;
        height: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &_card {
        background-color: #232323dd;
        width: 543px;
        height: 374px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
}

.section {

    &_subtitle {
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 1.5px;
        color: #E8E8E8;
    }

    &_title--small {
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &_text {
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1.6px;
        color: #E8E8E8; 
    }
}