.section {
    &__subtitle {
        font-family: $main-font;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 1.5px;
        color: #E8E8E8;
    }

    &__title {
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 36px;
        line-height: 26px;  
    }

    &__title--small {
        font-family: $main-font;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__text {
        font-family: $main-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1.6px;
        color: #E8E8E8; 
    }

    &__btn {
        width: 228px;
        height: 63px;
        background-color: #5473fda7;
        border: none;
        font-family: $secondary-font;
        font-size: 16px;
        line-height: 26px;  
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 30px;
    }
}

.section-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../images/section-one_bkg.png");
    background-size: cover;
    height: 100vh;
    gap: 5%;

    &__left {
        width: 560px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 440px;
    }

    &__right img {
        width: 350px;
    }

    &__right--top {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    &__right--bottom {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.banner {
    height: 340px;
    width: 100%;
    background-color: #333333;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    &__top {
        width: 650px;
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 900px;
    }

    &__bottom--item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

.section-two {
    background-image: url(../images/section-two_bkg.png);
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 80%;
        height: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &__card {
        background-color: #232323dd;
        width: 543px;
        height: 374px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
}

.section-three {
    background-image: url("../images/section-three_bkg.png");
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 80%;
        height: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &__card {
        background-color: #232323dd;
        width: 543px;
        height: 374px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
}

.section-four {
    background-image: url("../images/section-four_bkg.png");
    height: 731px;

    &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    &__card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 85%;
        height: 30%;
        margin: auto;
    }

    &__card--quote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: #333333;
        padding: 20px;
    }

    &__icon {
        color: #5474FD;
        font-size: 50px;
    }
}